{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hotel Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header with navigation -->
    <header>
        <nav>
            <ul class="nav-menu">
                <li><a href="{% url 'core:home' %}">Главная</a></li>
                <li><a href="{% url 'core:room_catalog' %}">Наши номера</a></li>

                <li><a href="{% url 'core:about' %}">О гостинице</a></li>
                <li><a href="{% url 'core:news' %}">Новости</a></li>
                <li><a href="{% url 'core:faq' %}">FAQ</a></li>
                <li><a href="{% url 'core:contacts' %}">Контакты</a></li>
                <li><a href="{% url 'core:privacy' %}">Политика конфиденциальности</a></li>
                <li><a href="{% url 'core:jobs' %}">Вакансии</a></li>
                <li><a href="{% url 'core:reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'core:promotions' %}">Промокоды</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'core:profile' %}">Профиль</a></li>
                  <li><a href="{% url 'account_logout' %}">Выйти</a></li>
                {% else %}
                  <li><a href="{% url 'account_login' %}">Войти</a></li>
                  <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                {% endif %}
                {% if user.is_authenticated and user.is_staff %}
                  <li><a href="{% url 'core:staff_dashboard' %}">Панель сотрудника</a></li>
                {% endif %}

            </ul>
        </nav>
    </header>

    <!-- Main content area -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; {{ current_year }} Hotel Project. <b>Dzianis Anufryieu</b>. Все права защищены.</p>
    </footer>
</body>
</html>
