{% extends 'base.html' %}
{% block title %}Главная — Hotel Project{% endblock %}

{% block content %}
  <h1>Добро пожаловать в наш отель!</h1>
  <p>Последняя новость:</p>
  {% if news_article.image %}
    <div class="news-image">
      <img src="{{ news_article.image.url }}" alt="{{ news_article.title }}" class="image-item" width="150" height="150">
    </div>
  {% endif %}
  <h2 class="news-title">{{ news_article.title }}</h2>
  <p class="news_content">{{ news_article.content }}</p>
  <p class="news-date">Дата публикации: <b>{{ news_article.published_at|date:"d.m.Y H:i" }}</b></p>

  {% if places %}
  <section class="nearby-places">
      <h2>Что рядом с нами можно найти?</h2>
      <ul class="places-list">
        {% for place in places %}
          <li class="place-item">
            {% if place.icon %}
              <img src="{{ place.icon }}" alt="{{ place.category }}" class="place-icon">
            {% endif %}
            <div class="place-info">
              <h3>{{ place.name }}</h3>
              <p>{{ place.category }} — {{ place.distance }} м</p>
              <p>{{ place.address }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% else %}
    <p>Нет данных о близлежащих местах.</p>
  {% endif %}

{% endblock %}